
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.playwright-mcp/
/.cursor/
/test_template.md/
/mcp-server.log/
/nvmrc/
/test_template.md/
/test-results/



.env
.playwright-mcp/
.cursor/